.App {
  text-align: left;
  width: 100%;
}

.App-header {
  background-color: #1782c9;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
}

.AddChargerDiv {
  padding: 0 15px 15px 15px; 
}


