.charger-header {
  position: relative;
  width: auto;
  background-color: #3498db;
  color: #fff;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 0;
  font-size: 11px;
}

.charger-counts {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.charger-count {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 8px;
  width: 130px;
  margin-left: 5px;
  margin-right: 2px;
  margin-bottom: 5px;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
  box-shadow: 0 15px 8px rgba(0, 0, 0, 0.2);
}

.charger-count:hover {
  transform: scale(1.05);
}

.charger-count strong {
  margin-right: 8px;
  font-size: 16px;
}

.loading-message {
  text-align: center;
  margin-top: 15px;
  color: #555;
}