/* ChargerStatisticsDashboard.css */
.modal-styles-dashboard {
  background-color: #f8f8f8;
  border: none;
  outline: none;
  z-index: 2;
}

.charger-statistics-modal {
  width: 80%;
  height: 80vh;
  margin: 50px auto;
  overflow: auto;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.charger-statistics-container {
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 4;
}

.dashboard-title {
  margin-top: 0;
  font-size: 36px;
  color: #3498db;
}

.chart-container {
  margin-top: 30px;
}

.charger-list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.charger-list-element {
  padding: 15px;
  margin: 10px;
  border-radius: 12px;
  font-weight: bold;
  text-align: center;
  min-width: 150px;
  color: #fff;
}

.active {
  background-color: #65bd87;
  color: #fff;
}

.inactive {
  background-color: #ff4d4f;
  color: #fff;
}

.highlight {
  margin-top: 15px;
  color: #333;
  font-weight: bold;
}

.close-button {
  background-color: #3498db;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background-color: #2980b9;
}

.dashboard-metrics {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.dashboard-metric {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.metric-value {
  font-size: 28px;
  font-weight: bold;
  color: #3498db;
}

.recharts-bar {
  fill: #3498db;
}

.recharts-cartesian-axis-tick-line {
  display: none;
}

.recharts-tooltip {
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  color: #333;
  padding: 12px;
}

.recharts-legend {
  margin-top: 20px;
}

.recharts-legend-item {
  font-size: 14px;
  color: #333;
  cursor: pointer;
  margin-right: 20px;
}

.recharts-legend-item:hover {
  color: #3498db;
}

.charger-statistics-modal::-webkit-scrollbar {
  width: 12px;
}

.charger-statistics-modal::-webkit-scrollbar-thumb {
  background-color: #3498db;
  border-radius: 10px;
}

.charger-statistics-modal::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}