/* Map.css (create a new CSS file named Map.css) */

/* Styling for the Map container */
/* MapContainer.css */
.MapContainer {
    padding-top: 138px;
    width: 100%;
    height: 60vh;
    right: 20%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    z-index: -1; /* Set a lower z-index than the header */
}




/* Style for the form to add a new charger */
.AddChargerForm {
    margin-top: 20px;
}

.AddChargerForm label {
    display: block;
    margin-bottom: 8px;
}

.AddChargerForm input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
}

.AddChargerForm button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.AddChargerForm button:hover {
    background-color: #45a049;
}